In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("matches.csv", index_col=0)

In [3]:

matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2022-08-07,16:30,Premier League,Matchweek 1,Sun,Away,W,2,0,West Ham,...,Match Report,NaN,13.0,1.0,18.7,1.0,1,1,2023,Manchester City
2,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4,0,Bournemouth,...,Match Report,NaN,19.0,7.0,17.5,0.0,0,0,2023,Manchester City
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3,3,Newcastle Utd,...,Match Report,NaN,21.0,10.0,16.2,1.0,0,0,2023,Manchester City
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4,2,Crystal Palace,...,Match Report,NaN,18.0,5.0,14.1,0.0,0,0,2023,Manchester City
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6,0,Nott'ham Forest,...,Match Report,NaN,17.0,9.0,14.8,0.0,0,0,2023,Manchester City

In [4]:
matches.shape

(950, 27)

In [5]:
matches["team"].value_counts()

team
Manchester City             76
Manchester United           76
Newcastle United            76
Liverpool                   76
Arsenal                     76
Wolverhampton Wanderers     38
Leeds United                38
Leicester City              38
Everton                     38
Nottingham Forest           38
Bournemouth                 38
West Ham United             38
Crystal Palace              38
Chelsea                     38
Fulham                      38
Brentford                   38
Tottenham Hotspur           38
Aston Villa                 38
Brighton and Hove Albion    38
Southampton                 38
Name: count, dtype: int64

In [6]:

matches[matches["team"] == "Liverpool"].sort_values("date")

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2022-08-06,12:30,Premier League,Matchweek 1,Sat,Away,D,2,2,Fulham,...,Match Report,NaN,11.0,3.0,12.4,0.0,0,0,2023,Liverpool
1,2022-08-06,12:30,Premier League,Matchweek 1,Sat,Away,D,2,2,Fulham,...,Match Report,NaN,11.0,3.0,12.4,0.0,0,0,2023,Liverpool
2,2022-08-15,20:00,Premier League,Matchweek 2,Mon,Home,D,1,1,Crystal Palace,...,Match Report,NaN,24.0,4.0,17.4,0.0,0,0,2023,Liverpool
2,2022-08-15,20:00,Premier League,Matchweek 2,Mon,Home,D,1,1,Crystal Palace,...,Match Report,NaN,24.0,4.0,17.4,0.0,0,0,2023,Liverpool
3,2022-08-22,20:00,Premier League,Matchweek 3,Mon,Away,L,1,2,Manchester Utd,...,Match Report,NaN,17.0,5.0,14.4,0.0,0,0,2023,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,2023-05-15,20:00,Premier League,Matchweek 36,Mon,Away,W,3,0,Leicester City,...,Match Report,NaN,16.0,5.0,17.5,1.0,0,0,2023,Liverpool
50,2023-05-20,15:00,Premier League,Matchweek 37,Sat,Home,D,1,1,Aston Villa,...,Match Report,NaN,10.0,5.0,18.2,0.0,0,0,2023,Liverpool
50,2023-05-20,15:00,Premier League,Matchweek 37,Sat,Home,D,1,1,Aston Villa,...,Match Report,NaN,10.0,5.0,18.2,0.0,0,0,2023,Liverpool
51,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,D,4,4,Southampton,...,Match Report,NaN,30.0,8.0,18.5,0.0,0,0,2023,Liverpool
51,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,D,4,4,Southampton,...,Match Report,NaN,30.0,8.0,18.5,0.0,0,0,2023,Liverpool

In [7]:
matches["round"].value_counts()

round
Matchweek 1     25
Matchweek 30    25
Matchweek 23    25
Matchweek 12    25
Matchweek 24    25
Matchweek 25    25
Matchweek 26    25
Matchweek 27    25
Matchweek 29    25
Matchweek 31    25
Matchweek 2     25
Matchweek 33    25
Matchweek 34    25
Matchweek 28    25
Matchweek 35    25
Matchweek 36    25
Matchweek 37    25
Matchweek 32    25
Matchweek 22    25
Matchweek 21    25
Matchweek 7     25
Matchweek 20    25
Matchweek 3     25
Matchweek 4     25
Matchweek 5     25
Matchweek 6     25
Matchweek 8     25
Matchweek 9     25
Matchweek 10    25
Matchweek 11    25
Matchweek 13    25
Matchweek 14    25
Matchweek 15    25
Matchweek 16    25
Matchweek 17    25
Matchweek 18    25
Matchweek 19    25
Matchweek 38    25
Name: count, dtype: int64

In [8]:
matches["date"] = pd.to_datetime(matches["date"])

In [9]:
matches["target"] = (matches["result"] == "W").astype("int")

In [10]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [11]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [12]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [13]:
matches["day_code"] = matches["date"].dt.dayofweek

In [14]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
1,2022-08-07,16:30,Premier League,Matchweek 1,Sun,Away,W,2,0,West Ham,...,1.0,1,1,2023,Manchester City,1,0,18,16,6
2,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4,0,Bournemouth,...,0.0,0,0,2023,Manchester City,1,1,2,15,5
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3,3,Newcastle Utd,...,1.0,0,0,2023,Manchester City,0,0,14,16,6
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4,2,Crystal Palace,...,0.0,0,0,2023,Manchester City,1,1,6,15,5
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6,0,Nott'ham Forest,...,0.0,0,0,2023,Manchester City,1,1,15,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2023-04-30,14:00,Premier League,Matchweek 34,Sun,Away,L,1,3,Newcastle Utd,...,0.0,0,0,2023,Southampton,0,0,14,14,6
43,2023-05-08,20:00,Premier League,Matchweek 35,Mon,Away,L,3,4,Nott'ham Forest,...,0.0,1,1,2023,Southampton,0,0,15,20,0
44,2023-05-13,15:00,Premier League,Matchweek 36,Sat,Home,L,0,2,Fulham,...,0.0,0,0,2023,Southampton,0,1,8,15,5
45,2023-05-21,14:00,Premier League,Matchweek 37,Sun,Away,L,1,3,Brighton,...,1.0,0,0,2023,Southampton,0,0,4,14,6
46,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Home,D,4,4,Liverpool,...,1.0,0,0,2023,Southampton,0,1,11,16,6

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)
#n_estimators is the number of decision trees you wish to train
#the larger the number the longer the algorithm will take to execute but it will also be more accurate
#min_samples: no of samples we wish to take,the higher the number the least chance of overfit

In [31]:
train = matches[matches["date"] < '2023-01-01']

In [30]:
test = matches[matches["date"] > '2023-01-01']

In [32]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [33]:
rf.fit(train[predictors], train["target"])
#fitting the predictors in the random forest model to predict that target is 0 or 1(lose or win)

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [35]:
preds = rf.predict(test[predictors])

In [36]:
from sklearn.metrics import accuracy_score

In [39]:
acc = accuracy_score(test["target"], preds)

In [40]:
acc

0.590316573556797

In [41]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [43]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0    1
actual
0          208  101
1          119  109

In [44]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.5190476190476191

In [45]:
grouped_matches = matches.groupby("team")

In [46]:
group = grouped_matches.get_group("Manchester City")

In [47]:
group

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
1,2022-08-07,16:30,Premier League,Matchweek 1,Sun,Away,W,2,0,West Ham,...,1.0,1,1,2023,Manchester City,1,0,18,16,6
2,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4,0,Bournemouth,...,0.0,0,0,2023,Manchester City,1,1,2,15,5
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3,3,Newcastle Utd,...,1.0,0,0,2023,Manchester City,0,0,14,16,6
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4,2,Crystal Palace,...,0.0,0,0,2023,Manchester City,1,1,6,15,5
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6,0,Nott'ham Forest,...,0.0,0,0,2023,Manchester City,1,1,15,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2023-05-06,15:00,Premier League,Matchweek 35,Sat,Home,W,2,1,Leeds United,...,2.0,0,1,2023,Manchester City,1,1,9,15,5
54,2023-05-14,14:00,Premier League,Matchweek 36,Sun,Away,W,3,0,Everton,...,2.0,0,0,2023,Manchester City,1,0,7,14,6
56,2023-05-21,16:00,Premier League,Matchweek 37,Sun,Home,W,1,0,Chelsea,...,0.0,0,0,2023,Manchester City,1,1,5,16,6
57,2023-05-24,20:00,Premier League,Matchweek 32,Wed,Away,D,1,1,Brighton,...,0.0,0,0,2023,Manchester City,0,0,4,20,2
58,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,L,0,1,Brentford,...,0.0,0,0,2023,Manchester City,0,0,3,16,6

In [75]:
def rolling_averages(group,cols,new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3,closed = "left").mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset = new_cols)
    return group
#compute the stats of the previous 3 matchweeks of that team to predict how that team will perform in that upcoming match
#we use closed = ="left" because we do not want to take current matchweek data(future data) into consideration
#drop na dispose the null values encountered

In [72]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

In [76]:
new_cols

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'dist_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling']

In [77]:
rolling_averages(group, cols, new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
2,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4,0,Bournemouth,...,15,5,2.666667,0.000000,15.000000,3.000000,18.300000,0.666667,0.666667,0.666667
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3,3,Newcastle Utd,...,16,6,3.333333,0.000000,17.000000,5.000000,17.900000,0.333333,0.333333,0.333333
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3,3,Newcastle Utd,...,16,6,3.666667,1.000000,19.666667,8.000000,17.066667,0.333333,0.000000,0.000000
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4,2,Crystal Palace,...,15,5,3.333333,2.000000,20.333333,9.000000,16.633333,0.666667,0.000000,0.000000
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4,2,Crystal Palace,...,15,5,3.333333,2.666667,20.000000,8.333333,15.500000,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2023-05-21,16:00,Premier League,Matchweek 37,Sun,Home,W,1,0,Chelsea,...,16,6,2.333333,0.000000,11.000000,3.333333,19.133333,1.333333,0.000000,0.000000
57,2023-05-24,20:00,Premier League,Matchweek 32,Wed,Away,D,1,1,Brighton,...,20,2,1.666667,0.000000,13.000000,2.666667,18.966667,0.666667,0.000000,0.000000
57,2023-05-24,20:00,Premier League,Matchweek 32,Wed,Away,D,1,1,Brighton,...,20,2,1.000000,0.333333,14.333333,2.666667,17.166667,0.000000,0.000000,0.000000
58,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,L,0,1,Brentford,...,16,6,1.000000,0.666667,13.666667,3.333333,15.533333,0.000000,0.000000,0.000000
58,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,L,0,1,Brentford,...,16,6,0.666667,1.000000,14.333333,3.333333,14.866667,0.000000,0.000000,0.000000

In [80]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))
#take the macthes dataset by team,assign a dataframe to each team 
#and apply and compute the rolling averaged on each team dataframe

In [82]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 1  2022-08-13  15:00  Premier League   Matchweek 2
                        2  2022-08-20  17:30  Premier League   Matchweek 3
                        2  2022-08-20  17:30  Premier League   Matchweek 3
                        3  2022-08-27  17:30  Premier League   Matchweek 4
                        3  2022-08-27  17:30  Premier League   Matchweek 4
...                               ...    ...             ...           ...
Wolverhampton Wanderers 39 2023-04-29  15:00  Premier League  Matchweek 34
                        40 2023-05-06  15:00  Premier League  Matchweek 35
                        41 2023-05-13  15:00  Premier League  Matchweek 36
                        42 2023-05-20  15:00  Premier League  Matchweek 37
                        43 2023-05-28  16:30  Premier League  Matchweek 38

                            day venue result  gf  ga        opponent  ...  \
team                                                                  ...
Arsenal                 1   Sat  Home      W   4   2  Leicester City  ...
                        2   Sat  Away      W   3   0     Bournemouth  ...
                        2   Sat  Away      W   3   0     Bournemouth  ...
                        3   Sat  Home      W   2   1          Fulham  ...
                        3   Sat  Home      W   2   1          Fulham  ...
...                         ...   ...    ...  ..  ..             ...  ...
Wolverhampton Wanderers 39  Sat  Away      L   0   6        Brighton  ...
                        40  Sat  Home      W   1   0     Aston Villa  ...
                        41  Sat  Away      L   0   2  Manchester Utd  ...
                        42  Sat  Home      D   1   1         Everton  ...
                        43  Sun  Away      L   0   5         Arsenal  ...

                            hour  day_code  gf_rolling  ga_rolling sh_rolling  \
team
Arsenal                 1     15         5    2.666667    0.666667  13.000000
                        2     17         5    3.333333    1.333333  16.000000
                        2     17         5    3.666667    1.333333  17.333333
                        3     17         5    3.333333    0.666667  15.666667
                        3     17         5    2.666667    0.333333  16.666667
...                          ...       ...         ...         ...        ...
Wolverhampton Wanderers 39    15         5    1.666667    0.666667  11.666667
                        40    15         5    1.000000    2.666667  11.333333
                        41    15         5    1.000000    2.000000   8.000000
                        42    15         5    0.333333    2.666667   7.000000
                        43    16         6    0.666667    1.000000   8.000000

                           sot_rolling dist_rolling fk_rolling  pk_rolling  \
team
Arsenal                 1     3.666667    14.066667   0.666667    0.000000
                        2     5.333333    13.533333   0.333333    0.000000
                        2     6.666667    13.600000   0.000000    0.000000
                        3     6.333333    14.200000   0.000000    0.000000
                        3     6.666667    15.033333   0.333333    0.000000
...                                ...          ...        ...         ...
Wolverhampton Wanderers 39    4.666667    18.700000   0.666667    0.333333
                        40    2.333333    18.800000   0.666667    0.333333
                        41    2.000000    17.766667   0.000000    0.333333
                        42    1.333333    15.600000   0.000000    0.000000
                        43    2.333333    15.333333   0.333333    0.000000

                            pkatt_rolling
team
Arsenal                 1        0.000000
                        2        0.000000
                        2        0.000000
                        3        0.000000
                        3        0.000000
...                                   ...
Wolverhampton Wanderers 39       0.333333
                        40       0.333333
                        41       0.333333
                        42       0.000000
                        43       0.000000

[890 rows x 40 columns]

In [83]:
matches_rolling = matches_rolling.droplevel('team')

In [84]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4,2,Leicester City,...,15,5,2.666667,0.666667,13.000000,3.666667,14.066667,0.666667,0.000000,0.000000
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3,0,Bournemouth,...,17,5,3.333333,1.333333,16.000000,5.333333,13.533333,0.333333,0.000000,0.000000
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3,0,Bournemouth,...,17,5,3.666667,1.333333,17.333333,6.666667,13.600000,0.000000,0.000000,0.000000
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2,1,Fulham,...,17,5,3.333333,0.666667,15.666667,6.333333,14.200000,0.000000,0.000000,0.000000
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2,1,Fulham,...,17,5,2.666667,0.333333,16.666667,6.666667,15.033333,0.333333,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,2023-04-29,15:00,Premier League,Matchweek 34,Sat,Away,L,0,6,Brighton,...,15,5,1.666667,0.666667,11.666667,4.666667,18.700000,0.666667,0.333333,0.333333
40,2023-05-06,15:00,Premier League,Matchweek 35,Sat,Home,W,1,0,Aston Villa,...,15,5,1.000000,2.666667,11.333333,2.333333,18.800000,0.666667,0.333333,0.333333
41,2023-05-13,15:00,Premier League,Matchweek 36,Sat,Away,L,0,2,Manchester Utd,...,15,5,1.000000,2.000000,8.000000,2.000000,17.766667,0.000000,0.333333,0.333333
42,2023-05-20,15:00,Premier League,Matchweek 37,Sat,Home,D,1,1,Everton,...,15,5,0.333333,2.666667,7.000000,1.333333,15.600000,0.000000,0.000000,0.000000
43,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,L,0,5,Arsenal,...,16,6,0.666667,1.000000,8.000000,2.333333,15.333333,0.333333,0.000000,0.000000

In [85]:
matches_rolling.index = range(matches_rolling.shape[0])

In [86]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4,2,Leicester City,...,15,5,2.666667,0.666667,13.000000,3.666667,14.066667,0.666667,0.000000,0.000000
1,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3,0,Bournemouth,...,17,5,3.333333,1.333333,16.000000,5.333333,13.533333,0.333333,0.000000,0.000000
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3,0,Bournemouth,...,17,5,3.666667,1.333333,17.333333,6.666667,13.600000,0.000000,0.000000,0.000000
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2,1,Fulham,...,17,5,3.333333,0.666667,15.666667,6.333333,14.200000,0.000000,0.000000,0.000000
4,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2,1,Fulham,...,17,5,2.666667,0.333333,16.666667,6.666667,15.033333,0.333333,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,2023-04-29,15:00,Premier League,Matchweek 34,Sat,Away,L,0,6,Brighton,...,15,5,1.666667,0.666667,11.666667,4.666667,18.700000,0.666667,0.333333,0.333333
886,2023-05-06,15:00,Premier League,Matchweek 35,Sat,Home,W,1,0,Aston Villa,...,15,5,1.000000,2.666667,11.333333,2.333333,18.800000,0.666667,0.333333,0.333333
887,2023-05-13,15:00,Premier League,Matchweek 36,Sat,Away,L,0,2,Manchester Utd,...,15,5,1.000000,2.000000,8.000000,2.000000,17.766667,0.000000,0.333333,0.333333
888,2023-05-20,15:00,Premier League,Matchweek 37,Sat,Home,D,1,1,Everton,...,15,5,0.333333,2.666667,7.000000,1.333333,15.600000,0.000000,0.000000,0.000000
889,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,L,0,5,Arsenal,...,16,6,0.666667,1.000000,8.000000,2.333333,15.333333,0.333333,0.000000,0.000000

In [91]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2023-01-01']
    test = data[data["date"] > '2023-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [93]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [94]:
precision

0.5706521739130435

In [95]:
combined

     actual  predicted
29        0          1
30        0          1
31        1          1
32        1          1
33        1          0
..      ...        ...
885       0          0
886       1          0
887       0          0
888       0          0
889       0          0

[537 rows x 2 columns]

In [96]:
combined = combined.merge(matches_rolling[["date","team","opponent","result"]],left_index = True,right_index = True)

In [97]:
combined

,actual,predicted,date,team,opponent,result
29,0,1,2023-01-03,Arsenal,Newcastle Utd,D
30,0,1,2023-01-03,Arsenal,Newcastle Utd,D
31,1,1,2023-01-15,Arsenal,Tottenham,W
32,1,1,2023-01-15,Arsenal,Tottenham,W
33,1,0,2023-01-22,Arsenal,Manchester Utd,W
...,...,...,...,...,...,...
885,0,0,2023-04-29,Wolverhampton Wanderers,Brighton,L
886,1,0,2023-05-06,Wolverhampton Wanderers,Aston Villa,W
887,0,0,2023-05-13,Wolverhampton Wanderers,Manchester Utd,L
888,0,0,2023-05-20,Wolverhampton Wanderers,Everton,D
889,0,0,2023-05-28,Wolverhampton Wanderers,Arsenal,L

In [98]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [99]:
combined["new_team"] = combined["team"].map(mapping)

In [100]:
combined

,actual,predicted,date,team,opponent,result,new_team
29,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal
30,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal
31,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal
32,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal
33,1,0,2023-01-22,Arsenal,Manchester Utd,W,Arsenal
...,...,...,...,...,...,...,...
885,0,0,2023-04-29,Wolverhampton Wanderers,Brighton,L,Wolves
886,1,0,2023-05-06,Wolverhampton Wanderers,Aston Villa,W,Wolves
887,0,0,2023-05-13,Wolverhampton Wanderers,Manchester Utd,L,Wolves
888,0,0,2023-05-20,Wolverhampton Wanderers,Everton,D,Wolves
889,0,0,2023-05-28,Wolverhampton Wanderers,Arsenal,L,Wolves

In [101]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [102]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal,0,0,Newcastle United,Arsenal,D,Newcastle Utd
1,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal,0,1,Newcastle United,Arsenal,D,Newcastle Utd
2,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal,0,0,Newcastle United,Arsenal,D,Newcastle Utd
3,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal,0,1,Newcastle United,Arsenal,D,Newcastle Utd
4,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal,0,0,Tottenham Hotspur,Arsenal,L,Tottenham
...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,0,0,2023-05-13,Wolverhampton Wanderers,Manchester Utd,L,Wolves,1,1,Manchester United,Wolves,W,Manchester Utd
640,0,0,2023-05-13,Wolverhampton Wanderers,Manchester Utd,L,Wolves,1,1,Manchester United,Wolves,W,Manchester Utd
641,0,0,2023-05-20,Wolverhampton Wanderers,Everton,D,Wolves,0,1,Everton,Wolves,D,Everton
642,0,0,2023-05-28,Wolverhampton Wanderers,Arsenal,L,Wolves,1,0,Arsenal,Wolves,W,Arsenal
643,0,0,2023-05-28,Wolverhampton Wanderers,Arsenal,L,Wolves,1,1,Arsenal,Wolves,W,Arsenal

In [103]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

actual_x
1    100
0     70
Name: count, dtype: int64

In [104]:
100/170

0.5882352941176471